@use "../setting" as s;

/* topページ------------------*/
/*カバー*/
.cover {
    &__container {
        @include s.container(100%);
        padding-inline: s.vw(16);
        margin-top: s.vw(60);
        @include s.rs(
            (
                max-width: s.mvw(1400),
                padding-left: s.mvw(117),
                padding-right: s.mvw(115),
                margin-top: s.mvw(114),
            )
        );
    }
    &__title {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(2, auto);
        row-gap: s.vw(15);
        padding-top: s.vw(12);
        padding-bottom: s.vw(26);
        @include s.rs(
            (
                grid-template-columns: s.mvw(440) auto,
                grid-template-rows: 1fr,
                grid-column-gap: s.mvw(131),
                align-items: flex-start,
                margin-left: s.mvw(32),
                margin-right: s.mvw(34),
                padding-top: s.mvw(47),
                padding-bottom: s.mvw(57),
            )
        );
        &-main {
            display: block;
            font-size: s.vw(28);
            font-weight: 700;
            @include s.tracking(0);
            @include s.rs(
                (
                    font-size: s.mvw(40),
                    line-height: 1.25,
                )
            );
        }
        &-sub {
            display: inline-block;
            font-size: s.vw(15);
            font-weight: 400;
            @include s.tracking(0);
            line-break: anywhere;
            @include s.rs(
                (
                    font-size: s.mvw(15),
                    line-height: 1.8,
                )
            );
        }
    }
    &__image {
        height: s.vw(450);
        border-radius: s.vw(40);
        background-image: url("/assets/images/top/cover/cover_sp.png");
        background-size: cover;
        background-position: center;
        @include s.rs(
            (
                background-image: url("/assets/images/top/cover/cover_pc.png"),
                height: s.mvw(550),
                border-radius: s.mvw(40),
            )
        );
    }
}

/*私たちについて------------------*/
.about {
    width: 100%;
    &__container {
        @include s.container(100%);
        padding-top: s.vw(47);
        @include s.rs(
            (
                max-width: s.mvw(1400),
                padding-top: s.mvw(54),
                padding-bottom: s.mvw(64),
            )
        );
    }
    &__contents {
        position: relative;
        width: 100%;
        height: s.vw(545);
        margin-top: s.vw(20);
        @include s.rs(
            (
                position: static,
                display: flex,
                flex-direction: row,
                column-gap: s.mvw(155),
                justify-content: center,
                height: s.mvw(570),
                margin-top: s.mvw(24),
                margin-inline: auto,
            )
        );
        &-text {
            position: absolute;
            height: s.vw(481);
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            z-index: 2;
            color: s.$color-about;
            background-color: s.$color-white;
            border-radius: s.vw(32);
            opacity: 0.8;
            padding-top: s.vw(14);
            padding-inline: s.vw(24);
            margin-block: s.vw(32);
            margin-inline: s.vw(16);
            @include s.rs(
                (
                    position: static,
                    width: s.mvw(410),
                    height: s.mvw(480),
                    padding-top: s.mvw(101),
                    padding-inline: s.mvw(0),
                    margin-block: 0,
                    margin-inline: s.mvw(0),
                )
            );
            &-title {
                font-size: s.vw(18);
                font-weight: 700;
                letter-spacing: 0.0085em;
                margin-bottom: s.vw(9);
                @include s.rs(
                    (
                        font-size: s.mvw(20),
                        margin-bottom: s.mvw(25),
                    )
                );
                &--br {
                    @include s.rs(
                        (
                            display: block,
                        )
                    );
                }
                &--space {
                    letter-spacing: -0.01em;
                    @include s.rs(
                        (
                            letter-spacing: 0.0085em,
                        )
                    );
                }
            }
            &-description {
                font-size: s.vw(15);
                font-weight: 400;
                @include s.tracking(0);
                @include s.rs(
                    (
                        font-size: s.mvw(15),
                        letter-spacing: 0.005em,
                    )
                );
            }
        }
        &-image {
            height: 100%;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            z-index: 1;
            background-image: url("/assets/images/top/about/about_us_sp.png");
            background-size: cover;
            @include s.rs(
                (
                    position: static,
                    width: s.mvw(390),
                    height: s.mvw(570),
                    background-image: url("/assets/images/top/about/about_us_pc.png"),
                    margin-right: s.mvw(16),
                )
            );
        }
    }
}

/*私たちが選ばれる3つの理由------------------*/
.features {
    width: 100%;
    background-color: s.$color-background;
    padding-top: s.vw(46);
    padding-bottom: s.vw(57);
    @include s.rs(
        (
            padding-top: s.mvw(54),
            padding-bottom: s.mvw(71),
        )
    );
    &__container {
        @include s.container(100%);
        padding-inline: s.vw(16);
        @include s.rs(
            (
                max-width: s.mvw(1400),
                padding-inline: s.mvw(115),
            )
        );
    }
    &__contents {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        row-gap: s.vw(21);
        margin-top: s.vw(20);
        @include s.rs(
            (
                flex-direction: row,
                column-gap: s.mvw(30),
                margin-top: s.mvw(23),
                margin-inline: auto,
            )
        );
        &-item {
            display: block;
            width: 100%;
            background-color: s.$color-white;
            border-radius: s.vw(24);
            box-shadow: s.vw(5) s.vw(5) s.vw(5) rgb(0 0 0 / 5%);
            @include s.rs(
                (
                    width: s.mvw(369),
                    box-shadow: s.mvw(5) s.mvw(5) s.mvw(5) rgb(0 0 0 / 5%),
                    border-radius: s.mvw(24),
                )
            );
            &-icon {
                display: block;
                width: 100%;
                height: s.vw(200);
                @include s.rs(
                    (
                        height: s.mvw(226),
                    )
                );
            }
            &-title {
                font-size: s.vw(18);
                font-weight: 700;
                @include s.tracking(0);
                background-color: s.$color-white;
                padding-block: s.vw(12);
                padding-inline: s.vw(16);
                border-bottom-left-radius: s.vw(24);
                border-bottom-right-radius: s.vw(24);
                @include s.rs(
                    (
                        font-size: s.mvw(19),
                        padding-inline: s.mvw(19),
                        padding-block: s.mvw(10),
                        border-bottom-left-radius: s.mvw(24),
                        border-bottom-right-radius: s.mvw(24),
                    )
                );
            }
        }
    }
}

/*製品・サービス紹介------------------*/
.products {
    width: 100%;
    padding-top: s.vw(48);
    padding-bottom: s.vw(55);
    @include s.rs(
        (
            padding-top: s.mvw(55),
            padding-bottom: s.mvw(64),
        )
    );
    &__container {
        @include s.container(100%);
        padding-inline: s.vw(16);
        @include s.rs(
            (
                padding-inline: s.mvw(150),
            )
        );
    }
    &__title {
        @include s.rs(
            (
                margin-top: s.mvw(2),
            )
        );
    }
    &__contents {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: s.vw(20);
        row-gap: s.vw(20);
        margin-inline: auto;
        @include s.rs(
            (
                flex-direction: row,
                flex-wrap: wrap,
                row-gap: s.mvw(40),
                column-gap: s.mvw(50),
                margin-top: s.mvw(25),
            )
        );
        &-item {
            width: s.vw(358);
            // タブレット用
            @include s.mq(md) {
                width: calc((100% - s.vwt(50) * 2) / 3);
            }

            // PC用
            @include s.mq(lg) {
                width: calc((100% - s.px2Rem(50) * 2) / 3);
            }
            &--large {
                // タブレット用
                @include s.mq(md) {
                    width: calc((100% - s.vwt(50)) / 2);
                }

                // PC用
                @include s.mq(lg) {
                    width: calc((100% - s.px2Rem(50)) / 2);
                }
            }
            &-link {
                width: 100%;
                display: flex;
                height: s.vw(140);
                flex-direction: row;
                column-gap: s.vw(17);
                justify-content: flex-start;
                align-items: center;
                font-size: s.vw(18);
                color: s.$color-white;
                background-color: s.$color-green;
                border-radius: s.vw(24);
                padding-inline: s.vw(24);
                @include s.rs(
                    (
                        height: s.mvw(150),
                        column-gap: s.mvw(20),
                        font-size: s.mvw(20),
                        border-radius: s.mvw(24),
                    )
                );
                // タブレット用
                @include s.mq(md) {
                    padding-inline: s.vwt(10);
                    column-gap: s.vwt(10);
                }

                // 1400px以上のPC用
                @media screen and (min-width: 1400px) {
                    padding-inline: s.px2Rem(24);
                    column-gap: s.px2Rem(20);
                }
                &--large {
                    @include s.rs(
                        (
                            height: s.mvw(180),
                            font-size: s.mvw(24),
                        )
                    );
                    // タブレット用
                    @include s.mq(md) {
                        column-gap: s.vwt(10);
                        padding-inline: s.vwt(10);
                    }

                    // 1400px以上のPC用
                    @media screen and (min-width: 1400px) {
                        column-gap: s.px2Rem(30);
                        padding-left: s.px2Rem(32);
                        padding-right: s.px2Rem(95);
                    }
                }
                &:hover {
                    color: s.$color-green;
                    background-color: s.$color-hover-back;
                    opacity: 1;
                }
            }
            &-image {
                width: s.vw(100);
                border-radius: 50%;
                @include s.rs(
                    (
                        width: s.mvw(110),
                    )
                );
                // タブレット用
                @include s.mq(md) {
                    width: s.vwt(110);
                }

                // PC用
                @include s.mq(lg) {
                    width: s.px2Rem(110);
                }
                &--large {
                    @include s.rs(
                        (
                            width: s.mvw(133),
                        )
                    );
                }
            }
            &-title {
                font-weight: 700;
                @include s.tracking(0);
                &--palt {
                    @include s.rs(
                        (
                            font-feature-settings: "palt",
                            letter-spacing: 0.065em,
                        )
                    );
                }
                &--br {
                    display: block;
                    // タブレット用
                    @include s.mq(md) {
                        display: inline;
                    }
                    // PC用
                    @include s.mq(lg) {
                        display: block;
                    }
                    &-none {
                        // タブレット用
                        @include s.mq(md) {
                            display: block;
                        }
                        // 1400px以上のPC用
                        @media screen and (min-width: 1400px) {
                            display: inline;
                        }
                    }
                }
                &--bottom {
                    margin-bottom: s.vw(5);
                    @include s.rs(
                        (
                            margin-bottom: 0,
                        )
                    );
                }
            }
        }
    }
}

/*お客様の事例紹介------------------*/
.case {
    width: 100%;
    background-color: s.$color-background;
    padding-top: s.vw(47);
    padding-bottom: s.vw(50);
    @include s.rs(
        (
            padding-top: s.mvw(54),
            padding-bottom: s.mvw(60),
        )
    );
    &__title-main {
        @include s.rs(
            (
                line-height: 1.5,
                margin-right: s.mvw(3),
            )
        );
    }
    &__container {
        @include s.container(100%);
        padding-inline: s.vw(16);
        @include s.rs(
            (
                max-width: s.mvw(1400),
                padding-inline: s.mvw(115),
            )
        );
    }
    &__contents {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        row-gap: s.vw(25);
        margin-top: s.vw(20);
        @include s.rs(
            (
                flex-direction: row,
                column-gap: s.mvw(30),
                margin-top: s.mvw(26),
                margin-inline: auto,
            )
        );
        &-item {
            display: block;
            width: 100%;
            @include s.rs(
                (
                    width: s.mvw(369),
                )
            );
            &-image {
                display: block;
                width: 100%;
                height: s.vw(201);
                border-radius: s.vw(24);

                @include s.rs(
                    (
                        height: auto,
                        border-radius: s.mvw(24),
                    )
                );
            }
            &-title {
                font-size: s.vw(18);
                font-weight: 700;
                @include s.tracking(0);
                color: s.$color-br-green;
                padding-top: s.vw(8);
                border-bottom-left-radius: s.vw(24);
                border-bottom-right-radius: s.vw(24);
                @include s.rs(
                    (
                        font-size: s.mvw(19),
                        letter-spacing: -0.006em,
                        padding-top: s.mvw(8),
                        border-bottom-left-radius: s.mvw(24),
                        border-bottom-right-radius: s.mvw(24),
                    )
                );
            }
        }
    }
}

/*お知らせ------------------*/
.news {
    width: 100%;
    padding-top: s.vw(46);
    padding-bottom: s.vw(61);
    @include s.rs(
        (
            padding-top: s.mvw(54),
            padding-bottom: s.mvw(69),
        )
    );
    &__container {
        @include s.container(100%);
        padding-inline: s.vw(16);
        @include s.rs(
            (
                max-width: s.mvw(1400),
                padding-inline: s.mvw(115),
            )
        );
    }
    &-contents {
        display: flex;
        flex-direction: column;
        row-gap: s.vw(7.5);
        width: 100%;
        border-bottom: s.vw(1) solid s.$color-gray;
        padding-bottom: s.vw(10);
        margin-top: s.vw(20);
        @include s.rs(
            (
                width: s.mvw(900),
                row-gap: s.mvw(14.5),
                border-bottom: s.mvw(1) solid s.$color-gray,
                padding-bottom: s.mvw(14),
                margin-top: s.mvw(23),
                margin-inline: auto,
            )
        );
        &__item {
            display: flex;
            width: 100%;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            padding-top: s.vw(16);
            padding-bottom: s.vw(2);
            border-top: s.vw(1) solid s.$color-gray;
            @include s.rs(
                (
                    flex-direction: row,
                    column-gap: s.mvw(24),
                    padding-top: s.mvw(15.5),
                    padding-bottom: s.mvw(2),
                    border-top: s.mvw(1) solid s.$color-gray,
                )
            );
            &-badge {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                margin-bottom: s.vw(9);
                @include s.rs(
                    (
                        margin-bottom: 0,
                    )
                );
                &-date {
                    display: block;
                    font-size: s.vw(15);
                    font-weight: 400;
                    letter-spacing: -0.02em;
                    color: s.$color-news-date;
                    padding-bottom: s.vw(5);
                    line-height: 1;
                    @include s.rs(
                        (
                            font-size: s.mvw(14),
                            padding-bottom: s.mvw(5),
                        )
                    );
                }
                &-category {
                    display: block;
                    width: s.vw(134);
                    height: s.vw(28);
                    font-size: s.vw(13);
                    font-weight: 400;
                    text-align: center;
                    line-height: 1;
                    @include s.tracking(0);
                    color: s.$color-white;
                    background-color: s.$color-news-category;
                    border-radius: s.vw(4);
                    padding-block: s.vw(7);
                    margin-left: s.vw(20);
                    @include s.rs(
                        (
                            width: s.mvw(134),
                            height: s.mvw(28),
                            font-size: s.mvw(13),
                            border-radius: s.mvw(4),
                            padding-block: s.mvw(8),
                            margin-left: s.mvw(22),
                        )
                    );
                }
            }
            &-link {
                display: block;
                width: 100%;
            }
            &-title {
                font-size: s.vw(15);
                font-weight: 700;
                @include s.tracking(0);
                color: s.$color-br-green;
                @include s.rs(
                    (
                        font-size: s.mvw(15),
                        padding-top: s.mvw(1),
                    )
                );
            }
        }
    }
    &__button {
        width: 100%;
        &-link {
            position: relative;
            display: block;
            z-index: 4;
            width: s.vw(300);
            height: s.vw(66);
            font-size: s.vw(18);
            font-weight: 700;
            text-align: center;
            line-height: 1;
            color: s.$color-white;
            background-color: s.$color-br-green;
            border-radius: s.vw(33);
            box-shadow: 0 s.vw(5) s.$color-green;
            padding-block: s.vw(23);
            margin-top: s.vw(23);
            margin-inline: auto;
            @include s.rs(
                (
                    width: s.mvw(300),
                    height: s.mvw(66),
                    font-size: s.mvw(18),
                    border-radius: s.mvw(33),
                    box-shadow: 0 s.mvw(5) s.$color-green,
                    padding-block: s.mvw(24),
                    margin-top: s.mvw(32),
                )
            );
            &:hover {
                top: s.vw(5);
                box-shadow: 0 0 s.$color-green;
                opacity: 1;
                @include s.rs(
                    (
                        top: s.mvw(5),
                        box-shadow: 0 0 s.$color-green,
                        opacity: 1,
                    )
                );
            }
        }
    }
}
