// カラー変数
$color-white: #fff;
$color-text: #000;
$color-green: #168352; // sectionサブタイトル.フッター背景.製品item背景
$color-background: #f3f9f6; // section背景
$color-br-green: #09947b; // item-titleとボタン背景
$color-about: #111; // 私たちについてのテキスト
$color-news-date: #222; // お知らせの日付
$color-news-category: #473221; // お知らせカテゴリー背景
$color-news-border: #ddd; // お知らせ罫線
$color-hover-back: #dffaec; // 製品サービスitemホバー時
